node_modules/
.expo/
dist/
web-build/
.env
*.env.local
ios/
android/
.firebase/
emulator-data/
functions/node_modules/
functions/lib/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
